/.vscode
/Boolean_value.cpp
/Factorial_number.cpp
/Pyramid_star.cpp
/Star_Pattern.cpp
/Third.cpp
/even.cpp
/fibonacci_series.cpp
/fourth.cpp
/int_Right_Triangle.cpp
/inverted_Right_Triangle.cpp
/logical_operater.cpp
/output
/prime_number.cpp
/reverse.cpp
/second.cpp
/tensum.cpp
/vowel.cpp